{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{$IMAGE_SRC}" width="{$IMAGE_WIDTH}" height="{$IMAGE_HEIGHT}" alt="" />&nbsp;<!-- ENDIF -->{$TITLE}{$LR_BLOCK_H_R}
			<div style="text-align: center;">
			<br />
			<script type="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script type="text/javascript">
			// <![CDATA[
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 150, // don't set this too high
			  height: 300,
			  theme: {
				shell: {
				  background: '#333333',
				  color: '#ffffff'
				},
				tweets: {
				  background: '#000000',
				  color: '#ffffff',
				  links: '#4aed05'
				}
			  },
			  features: {
				scrollbar: false,
				loop: false,
				live: false,
				behavior: 'all'
			  }
			}).render().setUser('{TWITTER_USER}').start();
			// ]]>
			</script>
			</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
